* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    background-color: #ccbca0;
}

html {
    scroll-behavior: smooth;
}

.container>* {
    height: fit-content;
    margin: 1%;
}


header {
    text-align: center;
    flex-basis: 98%;
    font-size: 1.5em;
}

h1 {
    margin-bottom: 15px;
    font-family: 'sajat';
}

.cim {
    text-decoration: underline;
    margin-bottom: 12px;
    font-family: 'sajat';
}

@font-face {
    font-family: "sajat";
    src: url('font/CinzelDecorative-Regular.ttf');
}

/*====MENU====*/

nav {
    padding: 5px;
    flex: 1 1 100%;
    display:flex;
    
}

#menu {
    list-style-type: none;
    width: 100%;
}
#menu li{
    background-color: #79694d;
    border-radius: 15px;
    display: block;
    margin-bottom: 12px;
}
#menu a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'sajat';

    border-radius: 15px;
    display: block;
    padding: 10px 15px;
    
}

#menu a.active {
    background-color: #5b503b;
}

#menu a:hover {
    background-color: #7d7566;
}


/*====INFOK====*/
div {
    font-size: 24px;
}

article {
    background-color: #97825f;
    border-radius: 15px;
    border-color: black;
    margin-bottom: 20px;
    text-align: justify;
    padding: 10px;
    flex: 1 1 100%;
}

.horgony {
    color: #5b4f3b;
}

.foto {
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 5px solid black;
}

.pictogram {
    float: left;
    height: 10vh;
    margin-right: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: rgb(121, 105, 77, 55);
    text-align: center;
    padding: 5px;
    font-size: 20px;
    width: 100%
}



/*====ETLAP====*/
.etlap img {
    width: 100%;
}

h2 {
    margin-bottom: 12px;
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}

aside {
    flex: 1 1 100%;
}

hr {
    border-color: black;
    width: 75%;
    margin: 2% 12%;
}

/*=====GALÉRIA=====*/

/*====HŰSÉGPROGRAM====*/
.urlap {
    font-size: 0.8em;
}

.husegprogram {
    width: 100%;
    border-collapse: collapse;
}

.husegprogram td {
    padding: 15px;
    text-align: left;

}

/*====KVÍZ====*/

.kviz {
    width: 100%;
    border-collapse: collapse;

}

.kviz td {
    padding: 15px;
    width: 50%;
}

.fejlec {
    text-align: center;
    font-weight: bold;
    align-items: center;
}

.vissza {
    width: 50%;
    justify-content: center;
    margin-top: 1em;
}


.balra {
    height: 5em;
}

.elvalaszto {
    border-right: 2px black solid;
}

.pictogram2 {
    float: right;
    height: 5vh;
}

.dolt {
    font-style: italic;
}

.gomb {
    padding: 5px;
    border-radius: 12px;
}


@media all and (min-width: 600px) {

    /*tablet*/
    nav {
        flex-basis: 98%;
    }

    article {
        flex-basis: 98%;
    }

    aside {
        flex-basis: 98%;
    }



}

@media all and (min-width: 768px) {

    /*számítógép*/
    nav {
        flex-basis: 98%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    nav ul {
        overflow: hidden;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    nav li {
        display: inline-flex;
        margin: 1%;
        width: 100%;
    }


    article {
        flex-basis: 73%;
    }

    aside {
        flex-basis: 23%
    }

    .etlap {
        display: flex;
        justify-content: center;
    }

    .etlap img {
        width: 50%;
    }
}